.button {
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.button:active{
    background-color: rgb(82, 136, 193);
    transform: scale(0.98);
}
.button:after{
    background-color: rgb(75, 115, 193);
}
.button:checked{
    background-color: rgb(57, 95, 171);
}
